.footer__container {
  height: auto;
}

.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
}

.footer__title {
  margin: 1rem 0;
  font-size: 3rem;
}
.footer__info li {
  font-size: 2rem;
  margin: 1rem 0;
}

@media screen and (min-width: 1023px) {

.footer__content {

    flex-direction: initial;
    align-items: inherit;
    justify-content: space-around
}

}