@font-face {
  font-family: "Melody-book";
  src: url('../public/font/melody/BLMelodyMono-Book.woff2');
}
@font-face {
  font-family: "Melody-mono";
  src: url('../public/font/melody/BLMelodyMono-Medium.woff2');
}
@font-face {
  font-family: "Melody";
  src: url('../public/font/melody/BLMelody-Regular.woff2');
}


html,
body, * {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  /* background-color: black */
  color: black;
  font-size: 62.5%;

}
::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

button {
  border: none;
  background: transparent;
  text-decoration: none;
}
.main-container {
width: 100%;
}
ul li {
  list-style-type: none;
}