.heading {
  position: relative;

  max-height: 500px;

  background: linear-gradient(-45deg, #212121, #333, #000000);
  background-size: 600% 600%;
  animation: gradient 8s ease infinite;
  height: 100vh;
}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.heading__title {
  z-index: 5;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;

  top: 18rem;
  font-family: "Melody";
  letter-spacing: 5px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-style: italic;
}

/* animation font */

@keyframes pop-word {
  to {
    transform: rotateX(0);
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes bar-scale {
  to {
    transform: scaleY(1);
  }
}

@keyframes sparkle {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1) translate(4px, 1px) rotate(8deg);
  }

  100% {
    transform: scale(0) translate(4px, 1px) rotate(8deg);
  }
}

@keyframes shimmer {
  to {
    text-shadow: 0 0 8px red;
  }
}



.word {
  display: block;
  color: white;
  animation: show 0.08s forwards, pop-word 1.5s forwards;
  animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
  opacity: 0;
  font-size: 3.5rem;
  transform: rotateX(120deg);
  transform-origin: 50% 100%;
}

.word:nth-of-type(2) {
  padding: 0 2rem;
  margin-top: 2rem;
  animation-delay: 0.5s;


}


@media screen and (max-width: 600px) {
  h1 {
    font-size: 5rem;
  }

  /* sparkle */
  .superscript::after {
    --size: 6rem;
  }
}

/* shape-wave */
.custom-shape-divider-top-1669022201 {
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1669022201 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1669022201 .shape-fill {
  fill: #ffffff;
}

/* shape-wave   For mobile devices  */
@media (max-width: 767px) {
  .custom-shape-divider-top-1669022201 svg {
    width: calc(100% + 1.3px);
    height: 147px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-top-1669028032 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
 
  }

  .custom-shape-divider-top-1669028032 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    z-index: 100;
  }

  .custom-shape-divider-top-1669028032 .shape-fill {
    fill: #ffffff;
  }
}
@media (min-width: 1024px) {
  .custom-shape-divider-top-1669028206 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1669028206 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }

  .custom-shape-divider-top-1669028206 .shape-fill {
    fill: #ffffff;
  }
}



/*  product container /////////////////////////////////////////////////////// */

.products-container {
  /* margin-top: 6rem ; */
  text-align: center;
  padding: 4rem 1rem;

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .products-container  {
    display: grid;

   
     grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2rem; 
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .products-container  {
    display: grid;

    grid-template-columns: auto auto auto;
    justify-items: start;
    grid-gap: 10px;
    /* margin: 5rem 0; */
  }
}
